<!DOCTYPE html>
<head>
<style>
body {
	position: center;
}
div {
    width: 400px;
    padding: 30px;
    border: 2px solid black;
    margin-top: 100px;
    text-align: center;
    font-size: 20px;
    margin: 0 auto;
}

button {
	border: 5px;
	border-color: tan; 
	background-color: #500000;
	color: tan;
	font-size: 13px;
}

</style>
</head>

<div id = "border">
<!-- error for sign-in added -->
<h3> Sign In </h3>
<% if @sign_in_errors %>
	<span class = "error"><%= @sign_in_errors %></span>
<% end %>
<br/><br/>
<!-- ends here -->


<form action="/session" method="POST">
<label for = "user_name">
	Username:
</label>
<input name="user_name" type="text">
<br/>

<label for = "password">
	Password:
</label>
<input name="password" type="password">
<input name="authenticity_token" value="<%= form_authenticity_token() %>" type="hidden">
</br>
<button>Sign In </button>
</form>
<br/><br/>


<h3> Sign Up </h3>
<!-- error for sign-up added -->
<% if @sign_up_errors %>
	<span class = "error"><%= @sign_up_errors %></span>
<% end %>
<!-- ends here -->

<br/><br/>

<form action="/users" method="POST">
	<label for = "name">Username:</label>
	<input name = "name">
	<br/>
	<label for = "password">Password:</label>
	<input name = "password" type = "password">
	<input name = "authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
	</br>
	<button>Sign Up!</button>
</form>
</div>