
<h1> Welcome to FeedMe </h1>
<div id = "user-box">
	
<!-- error for sign-in added -->
<h3> Have An Account? Sign In </h3>
<% if @sign_in_errors %>
	<span class = "error" style="color: red;"><%= @sign_in_errors %></span>
<% end %>
<!-- ends here -->


<form action="/session" method="POST" class="pure-form">
	
		<div>

			<label for = "user_name">Username:</label>
			<input name="user_name" type="text">

			<label for = "password">Password:</label>
			<input name="password" type="password">

			<input name="authenticity_token" value="<%= form_authenticity_token() %>" type="hidden">
			
			<button id="signIn" class="pure-button pure-button-primary">Sign In</button>
			

		</div>

</form>


<h3> New? Sign Up </h3>
<!-- error for sign-up added -->
<% if @sign_up_errors %>
	<span class = "error" style="color: red;"><%= @sign_up_errors %></span>
<% end %>
<!-- ends here -->

<form action="/users" method="POST" class="pure-form">
			
		<label for = "name">Username:</label>
		<input name = "name" type="text">	
		
		<label for = "password">Password:</label>
		<input name = "password" type = "password">
		
		<input name = "authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
		
		<button class="pure-button pure-button-primary">Sign Up!</button>
		
	
</form>
</div>

