<header>
  <h1>FeedMe</h1>
</header>
<ul id="subsList">
</ul>

<h3>Add a subscription here (maybe):</h3>
<input type="text" id="newSubName" placeholder="subscription name">
<button id = "addNewSub">Add</button>
