<header>
  <h1>FeedMe</h1>
</header>
<form method="POST" action="/session">
	<input name="authenticity_token" value="<%= form_authenticity_token() %>" type="hidden">
	<input name="_method" value="DELETE" type="hidden">
	<button>Logout</button>
</form>
<form method="POST" action="/subscriptions">
	<lable for = "name">Twitter</lable>
	<input name = "keyword">
	<input name = "name" value = "twitter" type="hidden">
	
	<input name="authenticity_token" value="<%= form_authenticity_token() %>" type="hidden">
	<button>Add</button>
</form>
<form method="POST" action="/subscriptions">
	<lable for = "name">New York Times</lable>
	<input name = "keyword" type = "text">
	<input name = "name" value = "NYTimes" type = "hidden">
	
	<input name = "authenticity_token" value="<%= form_authenticity_token() %>" type="hidden">
	<button>Add</button>
</form>

<form method="POST" action="/subscriptions">
	<lable for = "name">Google News</lable>
	<input name = "keyword" type = "text">
	<input name = "name" value = "google" type = "hidden">
	
	<input name = "authenticity_token" value="<%= form_authenticity_token() %>" type="hidden">
	<button>Add</button>
</form>
<ul id="subsList">
</ul>

<!--
<h3>Add a subscription here (maybe):</h3>
<input type="text" id="newSubName" placeholder="subscription name">
<button id = "addNewSub">Add</button>
-->

<ul id="newsFeed">
</ul>
