<header>
  <h1>FeedMe</h1>
</header>
<form method="POST" action="/session">
	<input name="authenticity_token" value="<%= form_authenticity_token() %>" type="hidden">
	<input name="_method" value="DELETE" type="hidden">
	<button>Logout</button>
</form>

<ul id="subsList">
</ul>

<h3>Add a subscription here (maybe):</h3>
<input type="text" id="newSubName" placeholder="subscription name">
<button id = "addNewSub">Add</button>

<ul id="newsFeed">
</ul>
